<?xml version="1.0"?>
<config>
    <modules>
        <FW_ProductCustom>
            <version>1.0.12</version>
        </FW_ProductCustom>
    </modules>
    <global>
        <models>
            <ProductCustom>
                <class>FW_ProductCustom_Model</class>
            </ProductCustom>
        </models>
        <resources>
            <productcustom_setup>
                <setup>
                    <module>FW_ProductCustom</module>
                    <class>FW_ProductCustom_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productcustom_setup>
            <ProductCustom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ProductCustom_write>
            <ProductCustom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ProductCustom_read>
        </resources>
        <helpers>
            <productcustom>
                <class>FW_ProductCustom_Helper</class>
            </productcustom>
        </helpers>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <sold_by_length />
                        <zircon_product_name />
                        <require_login />
                        <taxware_geocode />
                        <taxware_taxcode />
                        <additional_shipping />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <sold_by_length>
                    <to_order_item>*</to_order_item>
                </sold_by_length>
                <zircon_product_name>
                    <to_order_item>*</to_order_item>
                </zircon_product_name>
                <require_login>
                    <to_order_item>*</to_order_item>
                </require_login>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <sold_by_length>
                    <to_quote_item>*</to_quote_item>
                </sold_by_length>
                <zircon_product_name>
                    <to_quote_item>*</to_quote_item>
                </zircon_product_name>
                <require_login>
                    <to_quote_item>*</to_quote_item>
                </require_login>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <fw_productcustom_sales_quote_item_set_sold_by_length>
                        <class>ProductCustom/observer</class>
                        <method>salesQuoteItemSetSoldByLength</method>
                    </fw_productcustom_sales_quote_item_set_sold_by_length>
                    <fw_productcustom_sales_quote_item_set_zircon_product_name>
                        <class>ProductCustom/observer</class>
                        <method>salesQuoteItemSetZirconProductName</method>
                    </fw_productcustom_sales_quote_item_set_zircon_product_name>
                    <fw_productcustom_sales_quote_item_set_require_login>
                        <class>ProductCustom/observer</class>
                        <method>salesQuoteItemSetRequireLogin</method>
                    </fw_productcustom_sales_quote_item_set_require_login>
                </observers>
            </sales_quote_item_set_product>
            <checkout_allow_guest>
                <observers>
                    <checkout_allow_guest>
                        <class>ProductCustom/observer</class>
                        <method>isAllowedGuestCheckout</method>
                    </checkout_allow_guest>
                </observers>
            </checkout_allow_guest>
        </events>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <ProductCustom>
                        <type>singleton</type>
                        <class>ProductCustom/observer</class>
                        <method>addMassactionToProductGrid</method>
                    </ProductCustom>
                </observers>
            </adminhtml_block_html_before>
           <controller_action_postdispatch_adminhtml_catalog_product_save>
                <observers>
                    <fw_productcustom_log_action>
                        <class>ProductCustom/observer</class>
                        <method>logProductSaveAfter</method>
                    </fw_productcustom_log_action>
                </observers>
           </controller_action_postdispatch_adminhtml_catalog_product_save>
             <controller_action_predispatch_adminhtml_catalog_product_save>
                <observers>
                    <fw_productcustom_log_action>
                        <class>ProductCustom/observer</class>
                        <method>logProductSaveBefore</method>
                    </fw_productcustom_log_action>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_save>
        </events>
    </adminhtml>
    <admin>
      <routers>
          <adminhtml>
              <args>
                  <modules>
                       <ProductCustom before="Mage_Adminhtml">FW_ProductCustom_Adminhtml</ProductCustom>
                  </modules>
              </args>
          </adminhtml>
      </routers>
  </admin> 
    <frontend>
        <routers>
            <fw_product_image>
                <use>standard</use>
                <args>
                    <module>FW_ProductCustom</module>
                    <frontName>product</frontName>
                </args>
            </fw_product_image>
        </routers>
    </frontend>
</config>
